/**
 * @name Charcoal Mint
 * @author KiCK
 * @authorId 634168893644210186
 * @website https://github.com/kckarnige/charcoal-mint-theme
 * @authorLink https://github.com/kckarnige
 * @version 1.1.2
 * @description A theme so clean, it makes your pearly whites look filthy in comparison.
 * @donate https://ko-fi.com/kckarnige
 * @updateUrl https://raw.githubusercontent.com/kckarnige/charcoal-mint-theme/main/charcoal-mint.theme.css
*/
@import url("https://raw.githubusercontent.com/kckarnige/dark-discord/refs/heads/main/src/source.css");
@import url("https://raw.githubusercontent.com/kckarnige/charcoal-mint-theme/refs/heads/main/src/source.css");
@import url("https://raw.githubusercontent.com/kckarnige/charcoal-mint-theme/refs/heads/main/src/helpbgone.css");
@import url("https://raw.githubusercontent.com/kckarnige/notitlebar-theme/refs/heads/main/src/classicTitlebar.min.css");

:root {
    --home-icon: var(--mobile); /* --default, --classic, --mobile */
    --mod-saturation-factor: 0.7; /* Default is .7 */
    --mod-hue-factor: 130; /* Default hue is 130 */
    --wordmark-text-color: #72767d;
    --wordmark-text: "Discord";

	--settingsmodalbackground: transparent;
	--settingsmodalwidth: 960px;
	--settingsmodalheight: 80vh;
}

nav[class*="guilds_"]>ul[class*="tree_"]>div[class*="itemsContainer_"]>div[class*="none_"]::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thin-thumb) !important;
}

[class*="anchor_"][class*="links_"],
[class*="anchor_"][class*="links_"] svg {
    color: var(--brand-500);
    text-decoration: none;
    transition: color 0.3s;
    opacity: 1;
}
[class*="anchor_"][class*="links_"]:hover,
[class*="anchor_"][class*="links_"]:hover svg {
    color: var(--brand-360);
    text-decoration: none;
    transition: color 0.3s;
    opacity: 1;
}
