/**
 * @name The Essentials: Charcoal Mint
 * @author KayoticCarnige
 * @authorId 634168893644210186
 * @website https://github.com/kckarnige/essential-theme
 * @authorLink https://github.com/kckarnige
 * @version 1.0.5
 * @description A Discord theme to help whitten your teeth.
 * @donate https://ko-fi.com/kckarnige
 * @updateUrl https://raw.githack.com/kckarnige/essential-theme/main/essential.theme.css
*/
@import url("https://kckarnige.github.io/dark-discord/src/source.css");
@import url("https://raw.githack.com/kckarnige/essential-theme/main/source.css");
@import url("https://raw.githack.com/kckarnige/essential-theme/main/helpbgone.css");
@import url("https://raw.githack.com/kckarnige/notitlebar-theme/main/classicTitlebar.theme.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");

:root {
    --mod-saturation-factor: 0.7; /* Default is .7 */
    --mod-hue-factor: 130; /* Default hue is 130 */
    --wordmark-text-color: #72767d;
    --wordmark-text: "Discord";

	--settingsmodalbackground: transparent;
	--settingsmodalwidth: 960px;
	--settingsmodalheight: 80vh;
}

[class*="sidebarRegionScroller_"] {
    padding-top: 14px;
}
[class*="standardSidebarView_"] [class*="contentRegion_"] [class*="contentRegionScroller_"] {
    padding-top: 18px;
}

[class*="anchor_"][class*="links_"],
[class*="anchor_"][class*="links_"] svg {
    color: var(--brand-500);
    text-decoration: none;
    transition: color 0.3s;
    opacity: 1;
}
[class*="anchor_"][class*="links_"]:hover,
[class*="anchor_"][class*="links_"]:hover svg {
    color: var(--brand-360);
    text-decoration: none;
    transition: color 0.3s;
    opacity: 1;
}